.xdg_data/
.xdg_config/
.xdg_cache/
.codex/
.keystore/
.godot/
/.gradle/
export_templates/
feature_profiles/
script_templates/
text_editor_themes/
codex-resume
android-sdk/
android-home/
build/
dist/
exports/
Godot_v4.6.2-stable_linux.x86_64
Godot_v4.6.2-stable_linux.x86_64.zip
redot.linuxbsd.editor.x86_64
Redot_v26.1-stable_linux_x64.zip
*.apk
*.aab
*.pck
*.idsig
*.keystore
*.jks
*.import
*.tmp
local.properties
